@import 'twitter';
@import 'films';
@import 'form';
@import 'map';
@import 'home';
@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah);
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=PT+Mono);
$handwriting: 'Gloria Hallelujah', cursive !important;
.handwriting{
	font-family: $handwriting;
}
$light-blue: #DAF2FB;
$light-blue-two: #A5D6E8;
$logo-color: #FFFD68;
$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin box-shadow($radius) {
  -webkit-box-shadow: $radius;
     -moz-box-shadow: $radius;
      -ms-box-shadow: $radius;
          box-shadow: $radius;
}
html{
	height: 100%;
	margin: 0;
}
body{
	min-height: 100%;
	margin: 0;
}
a{
	color: #1dc3f7 !important;
}
a:hover{
	color: #337ab7 !important;
}
a:visited{
	color: #23527c !important;
}
.navbar-inverse .navbar-nav > li > a{
	color: white !important;
}
.navbar-inverse .navbar-nav > li > a:visited{
	color: white !important;
}
.topmarg{
	margin-top: 20px;
}
.bottmarg{
	margin-bottom: 20px;
}
.set-height{
	height: 100%;
}
.font-lato{
	font-family: 'Lato', sans-serif;
}
.break-word{
	word-wrap: break-word;
}
.bg-danger{
	background-color: #f2dede !important;
}
.bg-success{
	background-color: #dff0d8 !important;
}
.navbar-brand{
	font-size: 12px;
	margin-left: 10px;
	padding: 8px 15px;
	h4{
		color: $logo-color;
	}
	h5{
		color: #FFFFDA;
	}
}
.navbar-inverse{
	margin-bottom:0;
	@include border-radius(0px);
}
.navbar-inverse .navbar-nav>li>a{
	color: #FFFFFF;
}
.well{
	@include border-radius(0px);
}
.form-control{
	@include border-radius(0px);
}
.hr{
	max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.no-pad{
	padding:0;
}
.no-marg{
	margin: 0;
}
.square{
	@include border-radius(0px);
}
.film-font{
	font-family: 'PT Mono', ;
}
.light-blue{
	background-color: $light-blue;
	color:black;
	border-right: 2px;
    border-bottom: 2px;
    border-style: solid;
}
.custom-badge{
	background-color: $light-blue;
	color:black;
	border-right: 1px;
    border-bottom: 1px;
    border-style: solid;
}
.light-blue:hover{
	background-color: $light-blue-two;
}

.home-title-a, .home-title-b{
	h4{
		font-size: 20px;
	    background-color: white;
	    padding: 18px;
	    margin-top: 0;
	    margin-bottom: 0;
	    text-align: center;
	}
}
.container{
	position: relative;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (max-width: $screen-sm-min) { 
	.loader{
		position: absolute;
		left: 40%;
		background-image: url(../img/loader.gif);
		width: 64px;
		height: 64px;
		margin-top:50%;
	}
	.container-fluid, .col-xs-12{
		padding: 0;
	}
	.col-sm-12, .col-xs-12{
		img{
			margin-top:20px;
		}
	}
	.container{
		margin-left: 3px;
		margin-right: 3px;
	}	
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
	.loader{
		background-image: url(../img/loader.gif);
		width: 64px;
		height: 64px;
		margin-left: auto;
		margin-right: auto;
		margin-top:20%;
	}
 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) { 
	.container-fluid{
		max-width: 992px;
	}
	.loader{
		background-image: url(../img/loader.gif);
		width: 64px;
		height: 64px;
		position: absolute;
		left: 50%;
		z-index: 100;
	}
}
