<div class="container-fluid star-bg">
	<div class="media well well-sm topmarg">
	  	<div class="whitebg">
	  		<img class="img img-thumbnail media-object sean-img pull-left" src="img/sean2.png">
	    	<h4 class="media-heading">About this website</h4>
	    	<p>My is name Sean Anderson. I am a web developer/programmer living in Milwaukee, Wisconsin. The purpose of this website is to demonstrate my capabilities to potential employers. Each link is a sample of common, useful programming tasks. My main skills are PHP, MySql, HTML,CSS and Javascript. For a more detailed description of my skills, see the portfolio page. I have been coding since 2012. I earned a degree in Information Science and Technology from University of Wisconsin - Milwaukee in May, 2014 and have done an internship, worked as a company employee and have done a fair amount of freelance/contract work. I also study programming in my free time and keep up with current industry trends.</p>    
	    	<p><i class="fa fa-sticky-note-o"></i>My classic style resume can be downloaded here or on the <a href="#/portfolio">portfolio</a> page: <a class="break-word" href="seanandersonresume.docx"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Resume</a></p>
	    	<p><i class="fa fa-github-square"></i>The code for this site can be viewed here: <a class="break-word" href="https://github.com/seanandersonmke/seanisfromouterspace">https://github.com/seanandersonmke/seanisfromouterspace</a></p>
	    	<p>I highly recommend that any development teams that are interested in employing me take a look at my code. I take pride in writing readable, well organized code.</p>
			<h4 class="media-heading">Freelance Rates</h4>
			<p>My rates vary per project. I do not charge up front and usually accept first payment once the project has shown progress and my client is satisfied. My rates are very competitive. For long term projects I prefer hourly pay; shorter term projects, a single fee can be arranged.</p>
			<h4 class="media-heading">Contact</h4>
			<h5>Sean Anderson</h5>
			<i class="fa fa-paper-plane-o"></i>
			 Email:<a href="mailto:seanandersonmke@gmail.com"> seanandersonmke@gmail.com</a>
	   	</div>
	</div>
</div>