<div class="container-fluid star-bg topmarg  ">
	<div class="col-md-12 topmarg">
		<div class="media well well-sm">
		  	<div class="whitebg">
		  		<img class="img img-thumbnail media-object sean-img pull-left" src="img/sean2.png">
		    	<h4 class="media-heading">About this website</h4>
		    	<p>My is Sean Anderson. This is my web development portfolio site. Listed below is some of my previous project. The rest of the pages on the site are demonstrations of common programming tasks. The front end of the site is built using Angular.js. PHP is being used for server side tasks. The code for the site can be viewed here: <a class="break-word" href="https://github.com/seanandersonmke/seanisfromouterspace">https://github.com/seanandersonmke/seanisfromouterspace</a></p>
		   	</div>
		</div>
		<div class="media well well-sm">
			<div class="media-body whitebg">
				<h4>Good Care Connection</h4>
				<ul>
					<li>Designed the app architecture and UI. The app has two main areas, one for hospitals and one for aftercare facilities. Aftercare facilities can register their information into the app, and hospitals can search for for facilities based on their requirements. They can then submit a placement request with an aftercare facility which the receive in the request through the app, via email or via phone text.</li>
					<li>Technologies used - HTML/CSS (using Bootstrap framework and SASS), PHP (using Codeigniter framework), Javascript/Jquery for interactivity. I used Bootstrap to speed up the front end development time. Because the app is an enterprise app, it does did not need a lot of heavy custom design or graphics work and Bootstrap added most of the design elements I needed out of the box. Codeigniter  also made sense  to use for the built in functionality. Before I came onto the project, the app had no logical structure, and again, Codeigniter added a lot of functionality out of the box eliminating the need to us to spend a lot of time building our own infrastructure.</li>
					<li>Features I built include:
						<ul>
							<li>A login system with varying levels of permissions for hospital users, aftercare users, hospital admin user, aftercare admin user, and an admin section for the application admin.</li>
							<li> A search functions based on locations and mile radius. Hospitals can enter their zip code and set 10, 25, 50, 100 mile radius, as well as options for their patient’s medical needs.</li>
							<li>Areas with special style sheets for printing. Once a user does a search for the information they need, they can print out facility information for their clients to view.</li>
							<li>Admin areas. Facilities on both ends of the app have an admin user that is allowed  to add/remove basic users from their facility and edit their facility information. The owners of the app have an admin area where they are able to edit the database tables from inside the app using an UI.</li>
						</ul>
					</li>
					<li><a href="http://goodcareconnection.com" target="_blank">http://goodcareconnection.com</a></li>
				</ul>
				<div class="col-md-4 col-sm-12 col-xs-12">
					<a onclick="modal_function('img/gcc_home.png')"><img class="center-block img img-thumbnail mb-image" src="img/gcc_home.png" data-toggle="tooltip" title="Home screen of goodcareconnection.com"></a>
				</div>
				<div class="col-md-4 col-sm-12 col-xs-12">
					<a onclick="modal_function('img/gcc_search.png')"><img class="center-block img img-thumbnail mb-image mb-image-height" src="img/gcc_search.png" data-toggle="tooltip" title="Home screen of goodcareconnection.com"></a>
				</div>
				<div class="col-md-4 col-sm-12 col-xs-12">
					<a onclick="modal_function('img/gcc_users.png')"><img class="center-block img img-thumbnail mb-image" src="img/gcc_users.png" data-toggle="tooltip" title="Home screen of goodcareconnection.com"></a>
				</div>
			</div>
		</div>
		<div class="media well well-sm">
			<div class="media-body whitebg">
				<h4><span class="glyphicon glyphicon-phone"></span> Mobile App</h4>
				<ul>
					<li>Mobile Apps course at UWM</li>
					<li>Worked in a three person team to build a native mobile app for Milwaukee County’s Park and Rec department, based on their requirements.</li>
					<li>Trained with mentors from the Milwaukee County development team that maintains the county’s API system.</li>
					<li>Used “Titanium Studio” IDE. App developed with Javascript using the TS’s APIs which compile into either Android or IOS native languages.</li>
					<li>To try out app, you can download it to an Android phone here <a class="word_break" href="https://www.dropbox.com/s/bb7n14kqxb6yod5/app.apk">https://www.dropbox.com/s/bb7n14kqxb6yod5/app.apk</a></li>
					<li>The code can be viewed here <a class="word_break" target="_blank" href="https://github.com/seanandersonmke/mcps-app">https://github.com/seanandersonmke/mcps-app</a></li>
				</ul>

				<div class="col-md-3 col-sm-12 col-xs-12">
					<img class="img img-responsive center-block" src="img/home_screen.png" data-toggle="tooltip" title="These pictures will take you through a sample drill down">
				</div>
				<div class="col-md-3 col-sm-12 col-xs-12">
					<img class="img img-responsive center-block" src="img/events_screen.png" data-toggle="tooltip" title="The app pulls in an event feed from the County's API.">
				</div>
				<div class="col-md-3 col-sm-12 col-xs-12">
					<img class="img img-responsive center-block" src="img/events_feed.png" data-toggle="tooltip" title="You can select an item for more details">
				</div>
				<div class="col-md-3 col-sm-12 col-xs-12">
					<img class="img img-responsive center-block" src="img/face_book.png" data-toggle="tooltip" title="You select a picture from your phone and create a message to post to Facebook directly from the app.">
				</div>

			</div>
		</div>
		<div class="media well well-sm">
			<div class="media-body whitebg">
		    	<h4><span class="glyphicon glyphicon-cutlery"></span> Rivergate Coffee Shoppe</h4>
		    	<ul>
					<li>Website for freelance client - <span><a class="word_break" href="http://www.rivergatecoffeeshoppe.com/"></a></span>Rivergate Coffee Shoppe</li>
					<li>Angular.js to handle the routing. To avoid a large hardcoded HTML tables for the menus I put the items in Javascript arrays within a model and then used Angular to repeat an HTML table with the menu</li> 
					<li>Bootstrap CSS framework for responsive design</li>
					<li><a target="_blank" href="http://rivergatecoffeeshoppe.com">http://rivergatecoffeeshoppe.com</a></li>
				</ul>
			  <div class="col-md-6 col-sm-12 col-xs-12">
			  	<a onclick="modal_function('img/rivergatehome.png')">
			  		<img class="center-block img img-thumbnail mb-image" src="img/rivergatehome.jpg">
			  	</a>	
			  </div>
			  <div class="col-md-6 col-sm-12 col-xs-12">
			  	<a onclick="modal_function('img/rivergatemenu.png')">
			  		<img class="center-block img img-thumbnail mb-image" src="img/rivergatemenu.jpg">
			  	</a>	
			  </div>
			</div>
		</div>
		<div class="media well well-sm">
			<div class="media-body whitebg">
		    	<h4>Basic Human Kneads</h4>
		    	<ul>
					<li>Website for freelance client - <span><a class="word_break" href="http://www.rivergatecoffeeshoppe.com/"></a></span>Rivergate Coffee Shoppe</li>
					<li>Angular.js to handle the routing. HTML/CSS. PHP contact form.</li> 
					<li><a target="_blank" href="http://rivergatecoffeeshoppe.com">http://basichumankneads.com</a></li>
				</ul>
			  <div class="col-md-6 col-sm-12 col-xs-12">
			  	<h5 class="text-center">Desktop Display</h5>
			  	<a onclick="modal_function('img/basic_human_kneads.png')">
			  		<img class="center-block img img-thumbnail mb-image" src="img/basic_human_kneads_small.png">
			  	</a>
			  	<a onclick="modal_function('img/basic_human_kneads_form.png')">
			  		<img class="center-block img img-thumbnail mb-image topmarg" src="img/basic_human_kneads_form_small.png">
			  	</a>	
			  </div>
			  <div class="col-md-6 col-sm-12 col-xs-12">
			  	<h5 class="text-center">Mobile display</h5>
			  	<a onclick="modal_function('img/basic_human_kneads_mobile_small.png')">
			  		<img class="center-block img img-thumbnail mb-image" src="img/basic_human_kneads_mobile.png">
			  	</a>	
			  </div>
			</div>
		</div>
		<div class="media well well-sm">
			<div class="media-body whitebg">
				<h4><img src="img/monk.png"> Monk Bunker</h4>
				<ul>
					<li><a target="_blank" href="http://monkbunker.com/">http://monkbunker.com/</a></li>
					<li>Began as a project to learn and experiment with Codeigniter PHP framework and hone my general PHP skills.</li>
					<li>Built with LAMP stack architecture and MVC pattern. Uses Jquery/Jquery-UI libraries for UI interactions. AJAX for data manipulation. Recently began integrating Angular.js for data manipulation.</li>
					<li>CSS Bootstrap. Currently converting the original custom CSS into LESS.</li>
					<li>Use of JSON APIs including movie site Rotten Tomatoes, NPR, NY Times. Uses PHP Curl to make HTTP connections.</li>
					<li>I intend to make it a collection of “utility tools”. The user will be able to select modules they would like to have access to such as small memo apps, organization tools, entertainment, news, etc. I update the live site periodically as I work on a local instance. It also doubles as my programming experiment lab and my general hosting area when I need to put things online. The main app is still in the prototype stages.</li>
				</ul>
				<div class="col-md-6 col-sm-12 col-xs-12">
					<a onclick="modal_function('img/memolg.jpg')"><img class="center-block img img-thumbnail mb-image" src="img/memo.jpg"></a>
				</div>
				<div class="col-md-6 col-sm-12 col-xs-12">
					<a onclick="modal_function('img/movielg.jpg')"><img class="center-block img img-thumbnail mb-image" src="img/movie.jpg"></a>
				</div>
			</div>			
		</div>
		<div class="media well well-sm">
			<div class="media-body whitebg">
				<h4>More Examples</h4>
				<p>This is a website I was building for a friend. My client already had a Wordpress site and felt it had much more than she needed. I built a simple custom CMS for the site. Unfortunately, the site is currently in limbo because my client is a journalist and is currently in a warzone and unable to deal with the website. <a href="http://monkbunker.com/linds4/">http://monkbunker.com/linds4/</a></p>
				<div class="col-md-4 col-sm-12 col-xs-12">
					<h5>Admin Area</h5>
					<a onclick="modal_function('img/lindsadmina.png')"><img class="center-block img img-thumbnail mb-image" src="img/lindsadmina_small.png"></a>
					<div class="caption topmarg">
         				<p>Using this admin page I created the user can:</p>
     					<ul>
     						<li>Add Page - creates a new website page and adds link for page in the navigation.</li>
     						<li>Add Entry - creates a new entry to a page.</li>
     						<li>Delete Page - deletes a page.</li>
     						<li>Edit Page Order/Delete Entries - Select page and move to another screen to edit individual entries.</li>
     					</ul>
			      	</div>
				</div>
				<div class="col-md-4 col-sm-12 col-xs-12">
					<h5>Admin Area B</h5>
					<a onclick="modal_function('img/lindsadminb.png')"><img class="center-block img img-thumbnail mb-image" src="img/lindsadminb_small.png"></a>
					<div class="caption topmarg">
         				<p>This is the page for editing individual entries:</p>
     					<ul>
     						<li>Items can be dragged and dropped and the order saves toe the database on the drop (Using Jquery-UI for the drag and drop functionality and then serialize the order of the items).</li>
     						<li>Entries can be deleted. When the edit button is clicked, it makes that entry editable and then can be saved to database.</li>
     						<li>Entries can also be moved to other pages.</li>
     					</ul>
			      	</div>
				</div>
				<div class="col-md-4 col-sm-12 col-xs-12">
					<h5>Home Page</h5>
					<a onclick="modal_function('img/lindshome.png')"><img class="center-block img img-thumbnail mb-image" src="img/lindshome_small.png"></a>
					<div class="caption topmarg">
         				<p>The website knows that data to use per page based on the URL (created in the nav when the user creates a page in the CMS).</p>
			      	</div>
				</div>
			</div>			
		</div>

		<div ng-show="img_show" class="media well well-sm">
			<div class="media-body whitebg">
				<h3><span class="glyphicon glyphicon-star-empty"></span> NASA Pic of the Day</h3>
				<div class="col-md-6">
					<img class="img img-responsive" src="{{img}}">
				</div>
				<div class="col-md-6">
					<h4 class="notopmarg">{{title}}</h4>
					<p>{{details}}</p>
				</div>
			</div>
		</div>
		<div ng-show="vid_show" class="media well well-sm">
			<div class="media-body whitebg">
				<h3>NASA Pic of the Day</h3>
				<div class="col-md-6">
					<iframe height="200" width="200" src="{{img}}"></iframe>
				</div>
				<div class="col-md-6">
					<h4 class="notopmarg">{{title}}</h4>
					<p>{{details}}</p>
				</div>
			</div>
		</div>
		<div class="media well well-sm">
		<h3 class="handwriting bottmarg">...I also have FORTY-FOUR!!! badges on <a target="_blank" href="http://codecademy.com"><img src="img/codecademy.png"><a/></h3>
		<a onclick="modal_function('img/codeac.png')"><img class="center-block img img-thumbnail mb-image" src="img/codeacsmall.png"></a>
		</div>
	</div>
</div>