<div id="loader" ng-show="showSpinner" class="loader"></div>
<div class="container-fluid topmarg">
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
 		<p>This is a demo of Google Maps API. When first entering the page, it asks to allow use of your location, if allowed, it shows a map of your current location, if declined it defaults to a Milwaukee map. There are custom icons for several of the different location "types" and also a backup default icon if the type does not match the handful I set up. When clicking an icon, it pulls in information and user reviews for the location. On mobile devices the reviews can be swiped left and right. Also shows an animated loader when loading new maps.</p>
	</div>
			<form novalidate>
			<span class="label label-default">Select type of location:</span>
			<select class="form-control" ng-change="getLocation()" ng-model="theType">
				<option value="{{key}}" ng-repeat="(key, value) in mapType">{{value}}</option>
			</select>
		</form>
	<div class="col-md-6 col-sm-12 col-xs-12 no-marg no-pad">
		<div id="map"></div>
	</div>
	<div class="col-md-6 col-sm-12 col-xs-12 no-marg no-pad">
		<div class="animated slider" ng-show="change_class" ng-class="change_class">
			<div class="location_detail no-pad no-marg">
				<div class="name">
					<div class="name_img pull-left"></div>
					<p>{{location_name}}</p>
				</div>
				<div class="address">
				 <div class="address_img pull-left"></div>
					<p>{{location_address}}</p>
				</div>
				<div class="phone">
					<div class="phone_img pull-left"></div>
					<p>{{location_phone}}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12 col-sm-12 col-xs-12 animated well well-border review_area" ng-swipe-left="next()" ng-swipe-right="previous()" ng-show="change_review_class">
		<div ng-click="previous()"class="review-left"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></div>
		<div ng-click="next()" class="review-right"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></div>		
		<div ng-repeat="review in location_reviews">
			<div class="review-text" ng-if="review_index == $index">
				<div class="review-header clearfix">
					<div class="review-header-text col-md-6">
						<h4 class="handwriting">Google User Reviews</h4>
						<img alt="underline" src="img/underline.png">
					</div>
					<div class="col-md-6">
					<h4 style="margin-top: 12px;" class="text-right"><span class="badge">{{review_index + 1}}</span> of <span class="badge">{{review_count}}</span></h4>
					</div>
				</div>
				<div ng-class="change_review_class" class="animated review-header-text-two">
					<h4 class="location_detail">Google username - {{review.author_name}}</h4>
					<p>{{review.text}}</p>
				</div>
			</div>
		</div>
	</div>
</div>